.frame4 {
	position: absolute;
	top: 55%;
	left: 70%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 12px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	background: #E56262;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 220px;
}

.circle-1 {
	position: absolute;
	top: 90px;
	left: 90px;
	z-index: 3;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	animation: animation-1 2s infinite alternate;
}

.circle-2 {
	position: absolute;
	top: 75px;
	left: 75px;
	z-index: 2;
	width: 70px;
	height: 70px;
	background: white;
	border-radius: 50%;
	animation: animation-2 2s infinite alternate;
}

.circle-3 {
	position: absolute;
	top: 60px;
	left: 60px;
	z-index: 1;
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50%;
	animation: animation-3 2s infinite alternate;
}

@keyframes animation-1 {
	0%, 60% {
		box-shadow: 2px 2px 3px 10px rgba(0,0,0,0.2);
		transform: scale(0);
	}

	100% {
		box-shadow: 10px 10px 15px 2px rgba(0,0,0,0.4);
		transform: scale(1);
	}
}

@keyframes animation-2 {
	0%, 30% {
		box-shadow: 2px 2px 3px 10px rgba(0,0,0,0.2);
		transform: scale(0);
	}

	100% {
		box-shadow: 10px 10px 15px 2px rgba(0,0,0,0.4);
		transform: scale(1);
	}
}

@keyframes animation-3 {
	0%, 5% {
		box-shadow: 2px 2px 3px 10px rgba(0,0,0,0.2);
		transform: scale(0);
	}

	100% {
		box-shadow: 10px 10px 15px 2px rgba(0,0,0,0.4);
		transform: scale(1);
	}
}
