@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #f8f3ed;
  padding: 2rem;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  margin-top: 2rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: calc(25px + 2vmin);
  font-weight: 900;
  font-family: 'Raleway';
  color: #f1889f;
}

.App-link {
  color: #61dafb;
}

.btn {
  border: none;
  background: none;
  font-family: 'Satoshi';
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.btn:hover {
  color: #f1889f;
}

.buttons {
  width: 30rem;
  gap: 14.5rem;
  display: flex;
  position: absolute;
  bottom: 60px;
  right: 130px;
}

.solution {
  position: absolute;
  bottom: 290px;
  right: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
