@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #f8f3ed;
  padding: 1rem 2rem;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  margin-top: 2rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  gap: 1rem;
  font-size: calc(25px + 2vmin);
  font-weight: 900;
  font-family: 'Raleway';
  color: #212529;
}

.App-link {
  color: #61dafb;
}

.btn {
  border: none;
  background: none;
  font-family: 'Satoshi';
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.btn:hover {
  color: #f1889f;
}

.buttons {
  width: 30rem;
  gap: 14.5rem;
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 110px;
}
